.main-body {
 
  padding: 0;
  min-height: 100vh;
  background-color: #e5e5e5;
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Tahoma, Geneva, sans-serif;
}

.upload-placeholder{
padding: 20px!important;
}

.el-overlay-dialog{
  z-index: 2000!important;
}



.el-upload--picture-card{
  width: 100%!important;
}

.el-form-item__label{
  justify-content: flex-start!important;
}


.el-upload-list--picture-card{
  width: 100%!important;
}

.header-section {

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  padding-bottom: 30px;
}

.header-image {
  width: 300px;
}

.awards-image {
  width: 100%;
  margin-top: -100px;
  max-width: 70%;
  margin-left: 100px;
}

.raffle-announcement {
  padding: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgba(255, 0, 0, 1);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
  
}

.red-bar {
  width: 100%;
  color: black;
  margin-top: -50px;
}

.products-section {
  display: flex;
  padding: 0px 0;
  background-color: red;
  margin-top: 0px;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.items-image {
  width: 50%;
}

.cans-image {
  width: 70%;
  margin-top: -75px;
}

/* Estilos responsivos */
@media (max-width: 600px) {


  .cans-image {
    width: 100%;
    margin-top: -28px;

  }


  .header-image {
    width: 130%;

  }


  .header-container{
    padding-bottom: 0px;

  }

  .red-bar-container {
    height: 10px!important;
  }

  .items-image{
    width: 90%;
  }

  .awards-image {
    margin-top: -32px;
    margin-left: 27px;
  }

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .raffle-announcement {
    padding: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgba(255, 0, 0, 1);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .red-bar-container{
    margin-top: -10px;

  }

}
