* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.text-content {
  line-height: 20px;
}
.text-main-content {
  line-height: 30px;
  font-size: 1.2rem;
}
.gjs-grid-column.feature-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 30%;
}
.gjs-grid-column.testimonial-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 45%;
  background-color: rgba(247, 247, 247, 0.23);
  border-radius: 5px;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.gjs-button {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: rgb(36, 99, 235);
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
}
.gjs-text-blue {
  color: rgb(36, 99, 235);
}
.gjs-link:hover {
  color: rgb(36, 99, 235);
  text-decoration: underline;
}
.gjs-icon.gjs-feature-icon {
  padding: 10px;
  background-color: rgb(36, 99, 235);
  color: white;
  border-radius: 10px;
}
.main-body {
  background-color: #ffd200;
}
.header-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.header-section {
  display: flex;
  padding: 0px 0;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/image_3.png");
  background-position: 0px 0px;
  background-size: 100vw 100vw;
  background-repeat: no-repeat;
}
.header-image {
  width: 100%;
}
.awards-image {
  width: 100%;
  margin-top: -100px;
  margin-left: 50px;
  max-width: 70%;
}
.raffle-announcement {
  padding: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  color: rgba(255, 0, 0, 1);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}
.products-section {
  display: flex;
  padding: 50px 0;
  background-color: red;
  margin-top: -22px;
}
.products-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red-bar {
  width: 100%;
  color: black;
}
.items-image {
  width: 50%;
}
.cans-image {
  width: 70%;
  margin-top: -63px;
}

@media (max-width: 480px) {
  .awards-image {
    margin-top: -32px;
    margin-left: 27px;
  }
}
